body{
  overflow-x: hidden;
}
.head{
  color: white;
  background-color: #0099FF;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
.head h1{
  margin-top: 0;
  padding-top: 40vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.visimg{
  width: 100vw;
  height: auto;
  position: fixed;
  top:25%;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}
.visimg img{
  margin: 0 auto;
  height: 30vw;
  width: auto;
  margin-right: 10px;
}
.close{
  position: absolute;
  top: -13px;
  font-size: 20px;
}
.title{
  color: white;
  text-shadow: #FFFFFF 1px 0px 4px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 40px;
  font-family: sans-serif;
  padding: 20px 0 20px 0;
}
.arrows{
  width: 40px;
  height: auto;
  padding-top: 5%;
  animation-duration: 1.5s;
  animation-name: bounce;
}

.navouter{
  background-color: rgba(0, 0, 0, 0);
  width: auto;
  min-height: 30px;
  max-height: 40px;
}
.navbar{
  height: 5vh;
  width: 100vw;
  min-height: 30px;
  max-height: 40px;
  background-color: #0099FF;
  color: #FFFFFF;
  padding: 2vh 5vw 1vh 5vw;
  top:0;
  z-index: 1;
}
.nav,.nav a{
  margin: 0 1vw 0 1vw;
  float: left;
}
.resume{
  width: auto;
  clear: both;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  background-color: #CC3366;
  color: white;
  box-shadow: 0px 0px 30px #333;
}
.links{
  width: 920px;
  height: 200px;
  margin: 0 auto;
  padding: 20px 0 40px 0;
  overflow: hidden;
}
.link{
  width:150px;
  float: left;
  margin: 20px 40px 20px 40px;
}
.link img{
  width: 150px;
  height: 150px;
}
.link img:hover{
  width: 155px;
  height: 155px;
}
.origin{
  clear: both;
  width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
}
.origin span{
  display: inline-block;
  width: 4em;
}
.orileft,.oriright{
  float: left;
  width: 550px;
  text-align: justify;
}
.oriright img{
  width: 260px;
  height: auto;
  margin-left: 10px;
  float: left;
}

.skill{
  clear: both;
  width: auto;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  background-color: #99CC99;
  box-shadow: 0px 0px 30px #333;
}
.skill_contain{
  padding-top: 15vh;
}
.skill_contain span{
  display: inline-block;
  background-color: #666666;
  margin: 5px 2px 5px 2px;
  padding: 3px 5px 3px 5px;
  color: #EEEEEE;
  font: normal small-caps 30px fantasy;
}
.skill_contain span:nth-child(2n){
  background-color: #777777;
}

.experiences{
  width: auto;
  text-align: center;
  background-color: #6633CC;
  height: auto;
  overflow: hidden;
  box-shadow: 0px 0px 30px #333;
  padding: 0 100px 0 100px;
}
.exp_contain h1{
  font-size: 30px;
  margin: 0;
}
.exp_contain h2{
  font-size: 25px;
  margin: 0;
}
.exp_left,.exp_right{
  clear: both;
  overflow: hidden;
  padding: 20px 20px 0px 20px;
}
.exp_left{
  height: auto;
  float: left;
  text-align: left;
}
.exp_right{
  float: right;
  text-align: right;
  height: auto;
}
.experiences{
  width: auto;
  text-align: center;
  background-color: #6633CC;
  height: auto;
  overflow: hidden;
  box-shadow: 0px 0px 30px #333;
  padding: 0 100px 0 100px;
}
.expectation{
  width: auto;
  overflow: hidden;
  width: auto;
  height: 100vh;
  background-color: #33CC33;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 30px #333;
}
.expect_contain{
  padding-top: 20vh;
  letter-spacing: 5px;
}
@media screen and (max-height:690px){
  .experiences{
    height: auto;
  }
}
@media screen and (max-height:650px) {
  .resume{
    height: auto;
  }
}
@media screen and (max-height:518px){
  .skill_contain{
    padding-top: 5vh;
  }
  .expect_contain{
    padding-top: 5vh;
  }
}
@media screen and (max-width:500px) {
  .title{
    padding: 10px 0 10px 0;
  }
  .navouter{
    display: none;
  }
  .links{
    width: 100%;
    height: auto;
  }
  .link{
    width: 50vw;
    margin: 0;
  }
  .link h4{
    margin: 0;
  }
  .link img{
    width: 25vw;
    height: 25vw;
  }
  .origin{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
  .origin span{
    width: 3em;
  }
  .origin p{
    margin: 0px;
  }
  .orileft{
    width: 100%;
    margin: 0 auto;
  }
  .oriright{
    width: 100%;
    margin: 0 auto;
  }
}
